// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-yellow {
  background-color: #f2f280;
}

.bg-blue {
  background-color: #9191ff;
}

.bg-green {
  background-color: #7cc47c;
}

.bg-red {
  background-color: #ff7c7c;
}
