@import '_settings';

.spaceholder {
  background-color: $medium-gray;
  border: 1px solid lime;
}

.tabs.race-selector {
  background: $medium-gray;
  border: 0;

  li {
    a {
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      background-size: 100%;
      background-color: $medium-gray;

      &.terran { background-image: asset_url("terran-inactive.png"); }
      &.protoss { background-image: asset_url("protoss-inactive.png"); }
      &.zerg { background-image: asset_url("zerg-inactive.png"); }
    }
    &.is-active {
      a { background-color: $dark-gray; }

      .terran { background-image: asset_url("terran.png"); }
      .protoss { background-image: asset_url("protoss.png"); }
      .zerg { background-image: asset_url("zerg.png"); }
    }
  }
}

.tabs-content.race-tab {
  background-color: $dark-gray;
  border: 0;


  img:hover {
    background: black;
    border: 1px $medium-gray solid;
  }

  a.selected img {
    background: black;
    border: 2px #74ff00 solid
  }


  &#theirs-content {
    img {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

#footer {
  color: $medium-gray;
}
